#aboutme {
    min-height: 70vh;
    padding-bottom: 20vh;
    width: 100vw;
    background: var(--color-bluegrey);
    /* background: linear-gradient(to bottom left, #004fff, #f900ec); */
    /* background-attachment: fixed; */
    /* animation: gradientAnimation 5s infinite; */
    /* background-size: 250% 250%; */
    /* border-top: 1px solid var(--color-blue); */
    color: white;
}

#aboutus h1 {
    color: var(--color-blue);
}
