@import url('./herobutton.css');
@import url('./herocontent.css');

#hero {
    /* background: linear-gradient(var(--color-blue), var(--color-purple)); */
    background: linear-gradient(rgba(0,200,255, 0.5), rgba(100,0,50,0.5)), url("../../../images/hero.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
}

#hero img {
    border: 2px solid white;
}

#hero .container .row.mainrow {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    #hero {
        min-height: 100vh;
    }
}

@media only screen and (orientation: landscape) {
    #hero {
        height: 100vh;
    }
}
